.toggable-tab {
  margin-top: 60px;
  width: 1380px;
  #mytabs {
    border: 1px solid #5d9c59;
    border-radius: 10px;
  }
  ul#mytabs li:before {
    position: absolute;
    display: block;
    border-radius: 0 50px 50px 0;
    border-right: 10px solid #5d9c59;
    height: 56px;
    top: -1px;
    z-index: 10;
    content: '';
    right: -12px;
  }
  ul#mytabs li:after {
    position: absolute;
    display: block;
    border-radius: 0 50px 50px 0;
    border-right: 10px solid #ffffff;
    height: 56px;
    top: -1px;
    z-index: 10;
    content: '';
    right: -11px;
  }


  //ul#mytabs li:before {
  //  position: absolute;
  //  display: block;
  //  border-radius: 0 50px 50px 0;
  //  border-left: 16px solid #5d9c59;
  //  border-right: 0;
  //  height: 56px;
  //  width: 10px;
  //  //border: 24px solid transparent;
  //  //border-left: 16px solid #5d9c59;
  //  //border-right: 0;
  //  top: -1px;
  //  z-index: 10;
  //  content: '';
  //  right: -16px;
  //}
  //ul#mytabs li:after {
  //  position: absolute;
  //  display: block;
  //  border-radius: 0 50px 50px 0;
  //  border-left: 16px solid #ffffff;
  //  border-right: 0;
  //  height: 56px;
  //  top: -1px;
  //  z-index: 10;
  //  content: '';
  //  right: -15px;
  //}
  .contact-tab {
    z-index: 3;
    width: 33%;
    //border-right: 1px solid #5d9c59;
    //border-radius: 0 10px 10px 0;
    //-webkit-border-radius: 0 10px 10px 0;
    //-moz-border-radius: 0 10px 10px 0;
    //box-sizing: border-box;
    overflow: hidden;
    //a {
    //  width: 100%;
    //  border-radius: 10px;
    //}
  }
  .guarantee-tab {
    position: relative;
    z-index: 2;
    width: 34%;
    //border-right: 1px solid #5d9c59;
    //border-radius: 0 10px 10px 0;
  }
  .agency-tab {
    position: relative;
    z-index: 1;
    width: 33%;
  }
  .nav-tabs > li.active > a {
    background-color: #44a032;
    color: #fff;
  }
  a {
    font-family: UTMBOLD;
    color: #333333;
    font-size: 18pt;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .toggable-tab {
    width: 100% !important;
  }
  a {
    font-family: UTMBOLD;
    color: #333333;
    font-size: 8pt !important;
  }
  .tab-field {
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1268px) {
  .toggable-tab {
    width: 100% !important;
    a {
      font-family: UTMBOLD;
      color: #333333;
      font-size: 8pt !important;
    }
    .tab-field {
      height: 50px;
    }
  }
}

