.page-products-wrapper {
  margin-top: 60px;
  width: 1380px;
  border-radius: 10px;
  position: relative;

  .row {
    width: 100%;
    position: relative;
  }

  .categories-menu {
    position: absolute;
    z-index: 10;
    list-style: none;
    width: 450px;
    background-color: #439e31;
    border-top-right-radius: 10px;
    height: 100%;
    li {
      height: 40px;
      vertical-align: middle;
      line-height: 40px;
      color: #ffffff;
      font-size: 11pt;
      font-weight: 500;
      text-align: left;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }
  }

  .title-type-products {
    background-color: #80c41c;
    position: absolute;
    height: 40px;
    width: 100%;

    .title-content {
      margin-left: 450px;
      color: #ffffff;

      .title-badge {
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        line-height: 40px;
      }

      .title-badge:not(:last-child) {
        border-right: 1px solid #ffffff;
      }
    }
  }

  .products-field {
    margin-left: 450px;
    margin-top: 40px;
    float: right;

    .row {
      margin: 0;
      .product-detail {
        padding: 30px;
        border-right: 1px solid;
        border-bottom: 1px solid;
        text-align: left;
        .product-name , .product-price{
          font-size: 16px;
        }
        .product-price {
          color: #80c41c;
        }
      }
    }
  }

}

@media (min-width: 320px) and (max-width: 768px) {
  .page-products-wrapper {
  }
}
